<template id="tmpl-music">
    <div class="card music-card">
        <div class="music">
            <div class="music-title">Study Tunes</div>
            <div class="record">
                <input type="image" id="record" class="record" src="/src/assets/record.png" />
            </div>

            <div class="controls">
                <label for="volume">Volume</label>
                <input type="range" id="volume" name="volume" min="0" max="100" />
            </div>
        </div>
    </div>
</template>
