<template id="tmpl-music">
    <div class="card music-card">
        <div class="music">
            <div class="music-title">Study Tunes</div>
            <div class="record">
                <!--<img id="record" class="record" src="/src/assets/record.png" alt="record">-->
                <input type="image" id="record" class="record" src="/src/assets/record.png" />
            </div>

            <div class="controls">
                <!--<button type="button" id="start">Start</button>
                <button type="button" id="pause" class="secondary">Pause</button>-->
                <label for="volume">Volume</label>
                <input type="range" id="volume" name="volume" min="0" max="100" />
            </div>

            <div id="player" style="width:0; height:0; overflow:hidden;"></div>
        </div>
    </div>
</template>
