<template id="tmpl-music">
    <div class="card music-card">
        <div class="music">
            <div class="music-title">Study Tunes</div>
            <div class="record">
                <img id="record" class="record" src="/src/assets/record.png" alt="record">
            </div>

            <div class="controls">
                <button type="button" id="start">Start</button>
                <button type="button" id="pause" class="secondary">Pause</button>
            </div>

            <div id="player" style="width:0; height:0; overflow:hidden;"></div>
        </div>
    </div>
</template>
